<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Vue To-Do List</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: grid;
        }

        #app {
            display: flex;
            justify-content: center;
        }

        form {
            box-sizing: border-box;
        }

        footer {
            min-width: 100vw;
            text-align: center;
            position: absolute;
            bottom: 0;
            min-height: 50px;
            color: rgb(168, 168, 168)
        }
    </style>
</head>

<body>
    <article>
        <div id="app">
            <div class="container col-7 mt-5">

                <h2>To-Do List</h2>
                <hr />

                <div class="container">
                    <div class="row py-4">
                        <div class="col-8">
                            <input class="form-control" v-model="userInput" placeholder="Add new todo"></input>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark" @click="addClick"
                                :disabled="userInput.length==0">Add</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-danger" @click="clearClick"
                                :disabled="lists.length==0">Clear</button>
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-12">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button v-for="tab in tabList" :class="['nav-link', { active: tabSelected == tab }]"
                                        :id="'nav-tab-'+ tab" data-bs-toggle="tab" :data-bs-target="'#'+tab"
                                        type="button" role="tab" :aria-controls="'nav-'+tab" aria-selected="true"
                                        @click="tabSelected=tab">{{tab}}</button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <template v-for="(tab, idx) in tabList">
                                    <div :class="['tab-pane fade', { show : tabSelected == tab, active : tabSelected == tab }]"
                                        :id="'nav-'+tab" role="tabpanel" aria-labelledby="'nav-tab'+tab"
                                        :tabindex="idx">

                                        <div class="mt-3">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" v-for="list in filterItem">
                                                    <div class="row">
                                                        <div class="col">
                                                            <input class="form-check-input me-1" type="checkbox"
                                                                :value="list.id" :checked="list.completed"
                                                                v-model="list.completed" :id="list.id">
                                                            <label class="form-check-label" :for="list.id"
                                                                @dblclick="editClick(list)"
                                                                v-if="!list.completed">{{list.name}}</label>
                                                            <label class="form-check-label" :for="list.id"
                                                                @dblclick="editClick(list)"
                                                                v-if="list.completed"><del>{{list.name}}</del></label>
                                                        </div>
                                                        <div class="col-1">
                                                            <button type="button" class="btn-close" aria-label="Close"
                                                                @click="removeClick(list.id)"></button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer>
        © 2023 FakeStandard All right reserved
    </footer>

    <!--SCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    idx: 4,
                    tabList: ['All', 'Active', 'Completed'],
                    tabSelected: 'All',
                    userInput: "",
                    lists: [
                        { id: 1, name: 'First todo', completed: true },
                        { id: 2, name: 'Second todo', completed: false },
                        { id: 3, name: 'Third todo', completed: false },
                    ]
                }
            },
            computed: {
                filterItem() {
                    switch (this.tabSelected) {
                        case 'All':
                            return this.lists
                        case 'Active':
                            return this.lists.filter(f => !f.completed)
                        case 'Completed':
                            return this.lists.filter(f => f.completed)
                    }
                }
            },
            methods: {
                addClick() {
                    const data = { id: this.idx, name: this.userInput }
                    this.lists.push(data)
                    this.idx++
                    this.userInput = ""
                },
                removeClick(id) {
                    const idx = this.lists.findIndex(f => f.id == id)

                    if (idx !== -1)
                        this.lists.splice(idx, 1)
                },
                clearClick() {
                    this.lists = []
                },
                editClick(item) {
                    console.log(item)
                },
                activeItem(items) {
                    return items.filter(f => !f.completed)
                },
                completedItem(items) {
                    return items.filter(f => f.completed)
                }
            }
        }).mount('#app')
    </script>
</body>

</html>